{% load static %}
<div data-bs-theme="dark" class="container index_ready w-50 h-80 m-auto d-flex align-self-center flex-column d-none closer" id="KeyboardWrapper">
    <cross-element target="KeyboardWrapper"></cross-element>

    <h2 class="text-light">Keyboard Setup</h2>

    <div class="container d-flex flex-column justify-content-center align-items-center" id="keys_container">

        <!-- <div class="w-50 p-3 text-center">
            <span class="text-light fs-6 me-1">MoveUP</span>
            <button class="btn btn-outline-primary key-button" id="move_up">Aucune touche</button>
        </div> -->

        <!-- <div class="w-50 p-3 text-center">
            <span class="text-light fs-6 me-1">MoveUP Upper</span>
            <button class="btn btn-outline-primary key-button" id="move_up_upper">Aucune touche</button>
        </div>

        <div class="w-50 p-3 text-center">
            <span class="text-light fs-6 me-1">MoveDown</span>
            <button class="btn btn-outline-primary key-button" id="move_down">Aucune touche</button>
        </div>

        <div class="w-50 p-3 text-center">
            <span class="text-light fs-6 me-1">MoveDown Upper</span>
            <button class="btn btn-outline-primary key-button" id="move_down_upper">Aucune touche</button>
        </div>

        <div class="w-50 p-3 text-center">
            <span class="text-light fs-6 me-1">MoveDown Arrow</span>
            <button class="btn btn-outline-primary key-button" id="move_down_arrow">Aucune touche</button>
        </div>

        <div class="w-50 p-3 text-center">
            <span class="text-light fs-6 me-1">MoveUP Arrow</span>
            <button class="btn btn-outline-primary key-button" id="move_up_arrow">Aucune touche</button>
        </div> -->
    </div>

</div>  