<div class="signupwrapper" style="display: none;">
    <div class="signupwindow">
        <h2>Sign Up</h2>
        <form id="signupForm" method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username_register" name="username_register" required>
        
            <label for="password">Password:</label>
            <input type="password" id="password_register" name="password_register" required>
            
            <button type="submit">Register</button>
            <button type="button" id="closeSignup">Close</button>
        </form>
    </div>
</div>
