{% csrf_token %}


<div class="game-alert d-none closer"></div>

<div class="chatbox index_ready d-none closer" id="chatbox">
    <div class="chatwrapper">
        <div class="users_window">
            <div class="friends_users_wrapper">
                <div class="legend">Friends <fold-element target="friends_users" type="unfold"></fold-element></div>
                <div class="friends_users"></div>
            </div>
            <div class="connected_users_wrapper">
                <div class="legend">Connected <fold-element target="connected_users" type="unfold"></fold-element></div>
                <div class="connected_users"></div>
            </div>
            <div class="banned_users_wrapper">
                <div class="legend">Banned <fold-element target="banned_users" type="unfold"></fold-element></div>
                <div class="banned_users"></div>
            </div>
        </div>
        <div class="chatwindow">
            <div class="textfield">
                <input type="text" name="text" id="chat_text" target="general" placeholder="send a message"><div class="emojiselector">😀</div>
            </div>
        </div>
        <div class="rightbar">
            <div class="userinfo">
                <cross-element target="chatbox"></cross-element>
            </div>
            <div class="activerooms"></div>
            </div>
        </div>
        
    </div>
</div>