body{
    color : white;
}

.btns{
    color:orangered;
    cursor:pointer

}

.btns:hover
{
    text-decoration: underline;
}


#loginfields
{
    display: block;
}



#signupfields
{
    display: none;
}